header {
  background-color: rgb(4, 6, 7);
  font-family: monospace;
}
h1 {
  color: rgb(126, 29, 29);
}
p {
  color: rgb(20, 134, 30);

}
body {
  background-color: rgb(46, 46, 46);
  font-family: monospace;
  font-size: 80px;
}

nav {
  margin-top: 20px;
}
select {
  font-size: 80px;
  padding: 5px 10px;
  border-radius: 5px;
}