<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}GhostOS{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Welcome to GhostOS</h1>
    </header>
         <nav>
            <label for="module-select">Go to module:</label>
            <select id="module-select" onchange="location = this.value;">
                <option value="/">Mind Module</option>
                <option value="/about">Task Module</option>
                <option value="/about">Study Module</option>
                <option value="/about">Clock</option>
                <option value="/about">Calander</option>
                <option value="/about">Settings</option>
                <!-- Add more modules/routes as needed -->
            </select>
        </nav>
    <footer>
        <p>&copy; 2025 N3ON</p>
    </footer>
</body>
</html>